.app{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.main{
    height: 100%;
}

@media screen and (min-width:726px) {
    .app{
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 1fr;
    }
}