.footer{
    padding: .5em;
}

.footer .copyright{
    margin: auto;
    text-align: center;
}

.footer .nav{
    justify-content: center;
}

.footer .nav-item .span{
    top: -.5em;
    transform: translate(-50%,-4em);
}

.footer .nav-item:hover > .nav-link .span{
    transform: translate(-50%,-2em);
    opacity: 1;
    visibility: visible;
}   

@media screen and (min-width:726px) {
    .footer .copyright{
        display: none;
    }

    .footer .nav-item .span{
        top: 50%;
        left: 0;
        transform: translate(-8.5em,-50%);
    }

    .footer .nav-item:hover > .nav-link .span{
        transform: translate(-110%,-50%);
        opacity: 1;
        visibility: visible;
    }   
}