:root{
    --bg-color:#10141f;
    --bg-card-color:#161d2f;
    --primary-color:#fb4447;
    --second-color:#5a6891;
    --text-primary-color:#fff;
    --text-second-color:#ccc;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    color: var(--text-second-color);
    font-family: sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.title{
    font-size: 1.5em;
    color: var(--primary-color);
    margin: 0;
    padding: 1em;
}

.navbar{
    background-color: var(--bg-card-color);
    width: 100%;
    border-radius: 1em;
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav{
    display: flex;
    text-align: center;
    align-items: center;
    gap: .5em;
}

.nav-item{
    width: 3em;
    height: 3em;
    position: relative;
    padding: .5em;
}

.nav-item .span{
    position: absolute;
    left: 50%;
    color: var(--primary-color);
    background: var(--bg-color);
    border: 1px solid var(--primary-color);
    font-weight: bolder;
    padding: .5em;
    border-radius: .5em;
    line-height: 1em;
    opacity: 0;
    visibility: hidden; 
    user-select: none;
    pointer-events: none;
    transition: opacity .3s ease-in, transform .3s ease-in, visibility .3s ease-in;
    z-index: 5;
}

.nav-item:hover > .nav-link .span{
    opacity: 1;
    visibility: visible;
}   

.nav-item .svg{
    fill: var(--second-color);
    width: 100%;
    height: 100%;
    transition: fill .3s ease-in;
}

.nav-item:hover > .svg{
    fill: var(--primary-color);
}

.nav-link.active > svg{
    fill: var(--primary-color);
}

.nav-link:hover > .svg{
    fill: var(--primary-color);
}

@media screen and (min-width:726px) {
    .navbar{
        flex-direction: column;
        height: calc(100vh - 1em);

        /*
            no pude poner con sticky, 
            tuve que cambiar manualmente 
            el grid area (5em, en los costados) 
            y la posicion fixed al nav de
            header y footer   

        position: sticky;
        top: .5em;
        left: .5em;   
        */  
    }

    .header .navbar,
    .footer .navbar{
        position: fixed;
        top: .5em;
        width: 4em;
        z-index: 5;
    }
    
    .footer .navbar{
        right: .5em;
    }
    
    .nav{
        flex-direction: column;
        top: 0px;
    }
}

.btn{
    padding: .8em;
    background-color: var(--second-color);
    border: none;
    font-weight: bolder;
    color: var(--bg-card-color);
    cursor: pointer;
    border-radius: 2px;
    outline-color: var(--primary-color);
    transition: background-color .3s ease-in, color .3s ease-in;
}

.btn:hover{
    background-color: var(--primary-color);
    color: var(--text-primary-color);
}

.nothing{
    text-align: center;
    margin: 0;
    margin-top: 3em;
    color: var(--text-second-color);
}

.detalle{
    max-width: 1200px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.detalle__box{
    background-color: var(--bg-card-color);
    border-radius: 5px;
}

.detalle__box:nth-child(1){height: 3em; width: 100%;}
.detalle__box:nth-child(2){height: 1em; width: 90%;}
.detalle__box:nth-child(3){height: 1em; width: 80%;}
.detalle__box:nth-child(4){height: 1em; width: 70%;}
.detalle__box:nth-child(5){height: 1em; width: 60%;}