.header{
    padding: .5em;
}

.header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .nav-user{
    border: 1px solid var(--second-color);
    width: 3em;
    height: 3em;
    border-radius: 50%; 
    padding:0;
}

.header .nav-user .nav-link{
    height: 100%;
    width: 100%;
    display: block;
}

.header .nav-user:hover{
    border-color:var(--primary-color);
    transition: border-color .3s ease-in;
}

.header .nav-user .svg{
    height: 100%;
    width: 100%;
    fill: var(--second-color);
    border-radius: 50%; 
}

.header .nav-item .span{
    bottom: -.5em;
    transform: translate(-50%,150%);
}

.header .nav-item:hover > .nav-link .span{
    transform: translate(-50%,100%);
    opacity: 1;
    visibility: visible;
} 

@media screen and (min-width:726px) {
    .header .nav-item .span{
        top: 50%;
        left: 0;
        transform: translate(150%,-50%);
    }

    .header .nav-item:hover > .nav-link .span{
        transform: translate(100%,-50%);
        opacity: 1;
        visibility: visible;
    }   
}