.list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(12em,1fr));
    gap: .5em;
    padding: .5em;
    justify-content: center;
}

.movie{
    max-width: 250px;
    width: 100%;
    padding: .5em;
    border-radius: 5px;
    cursor: pointer;
    justify-self: center;
}

.movie:hover{
    background-color: #00000030;
}

.movie__container{
    border-radius: 5px;
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.movie__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    background-color: var(--bg-card-color);
}

.movie__description{
    width: 100%;
    color: var(--text-seconday-color);
    text-shadow:    1px 1px var(--bg-color),
                    -1px -1px var(--bg-color),
                    -1px 1px var(--bg-color),
                    1px -1px var(--bg-color);
    position: absolute;
    left: 0;
    bottom: -1em;
    transform: translateY(100%);
    transition: transform .3s ease-in;
    background: linear-gradient(to top,#000 20%, transparent);
    padding: .5em;
    text-align: center;
    padding-top: 100%;
    line-height: 1em;
}

.movie:hover > .movie__container .movie__description{
    transform: translateY(0)
}

.movie__tags{
    display: flex;
    padding: 0.5em 0;
    font-size: .8em;
    color: var(--text-seconday-color);
}

.movie__title{
    width: 100%;
    margin: .5em 0;
    font-size: 1em;
}