.movie-container{
    position: relative;
    padding: .5em;
    border-radius: 5px;
    transition: background-color .3s ease-in;
    max-width: 250px;
    width: 100%;
    justify-self: center;
}

.movie-container:hover{
    background-color: #00000050;
}

.movie{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--text-seconday-color);
    display: flex;
    flex-direction: column;
}

.movie__img-container{
    flex: 7 1 1px;
    border-radius: 5px;
    width: 100%;
    min-height: 300px;
    position: relative;
    overflow: hidden;
    background-color: var(--bg-card-color);
}

.movie__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.movie__description{
    width: 100%;
    color: var(--text-seconday-color);
    text-shadow:    1px 1px var(--bg-color),
                    -1px -1px var(--bg-color),
                    -1px 1px var(--bg-color),
                    1px -1px var(--bg-color);
    position: absolute;
    left: 0;
    bottom: -1em;
    transform: translateY(100%);
    transition: transform .3s ease-in;
    background: linear-gradient(to top,#000 20%, transparent);
    padding: .5em;
    text-align: center;
    padding-top: 100%;
    line-height: 1em;
}

.movie-container:hover >  .movie .movie__img-container .movie__description{
    transform: translateY(0)
}

.movie__tags{
    flex: 1 1 1px;
    display: flex;
    padding: 0.5em 0;
    font-size: .8em;
    color: var(--text-seconday-color);
}

.movie__title{
    flex: 2 1 1px;
    width: 100%;
    margin: .5em 0;
    font-size: 1em;
    color: var(--text-primary-color);
}